# Ignora la cartella dell'ambiente virtuale
.venv/

# Ignora alcune cartelle dei dataset
dataset/dataset
dataset/modified_dataset
dataset/new_datasets

# Ignora la cartella della cache Python
__pycache__/

# Ignora la cartella imgs
/imgs

# Ignora cartella stuffs
/stuffs

.vscode/